{% autoescape off %}

{{ user.get_username }},
<br><br>
It's the start of the season, and that means a clean slate. As a reminder, the lines will be posted on Tuesday morning each week and will lock at the start of the first game each week, usually on Thursday evening. 
<br><br>
Here's the link to make your picks this week:
<br><br>
<a href="http://www.footballshark.net/edit_picks">Edit Picks</a>
<br><br>
The link will expire at the start of the game, so be sure to get your picks in by then! Go Bills!
<br><br>
Sincerely,<br>
The Football Shark Team
{% endautoescape %}