{% autoescape off %}

{{ user.get_username }},
<br><br>
It's the playoffs! And that means things are a little different. Here's how:
<br><br>
1. We think playoff games should be more valuable than regular season games. To make that happen, we multiply your scores at the end of the week. Each round the multiplier will increase, starting at two this for the wildcard round, and ending at five for the superbowl.
<br><br>
2. Games will lock at the start of the first game each week (since there are no Thursday games). The lines will continue to be posted on Tuesday morning each week. 
<br><br>
Here's the link to make your picks this week:
<br><br>
<a href="http://www.footballshark.net/edit_picks">Edit Picks</a>
<br><br>
The link will expire at the start of the game, so be sure to get your picks in by then!
<br><br>
Sincerely,<br>
The Football Shark Team
{% endautoescape %}
