<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FootballShark</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'app/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/league.css' %}" rel="stylesheet">
    <script src="{% static 'app/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Football Shark (alpha)</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/app/user">My Account</a>
            </li>
            <li>
              <a href="/app/logout">Log Out</a>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <div class="container league-main" role="main">

    <div class="page-header">
      <h1>{{ person }}</h1>
    </div>

	<br><br>

	<div>
		<a class="btn btn-primary btn-lg" href="/app/create_league" role="button">Create League</a>
		<a class="btn btn-primary btn-lg" href="/app/join_league" role="button">Join League</a>
	</div>

	<br><br>

{% if active_week %}
	<div>
		<a class="btn btn-primary btn-lg" href="/app/edit_picks" role="button">Edit Your Picks</a>
	</div>
{% endif %}

	<br><br>

{% if my_leagues %}
    <div class="col-md-6">
    <table class="table table-bordered">
      <thead><tr>
        <th class="col-md-8">My Leagues:</th>
      </tr></thead>
      <tbody>
      {% for league in my_leagues %}
        <tr>
        <td><a href="/app/league/{{ league.id }}/">{{ league }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% else %}
    <h3>No League Available</h3>
{% endif %}

	<br><br>

{% if active_bets %}
    <div class="page-header">
      <h3>This Week's Bets</h1>
    </div>

    <div class="col-md-10">
    <table class="table table-bordered">
      <thead><tr>
        <th class="col-md-1">Away Score</th>
        <th class="col-md-1">Home Score</th>
        <th class="col-md-6">Game</th>
        <th class="col-md-1">Line Bet</th>
        <th class="col-md-1">Over/Under Bet</th>
        <th class="col-md-1">Score</th>
      </tr></thead>
      <tbody>
      {% for bet_game in active_bets %}
        <tr>
        <td>{{ bet_game.1.score_1 }}</td>
        <td>{{ bet_game.1.score_2 }}</td>
	    <td>{{ bet_game.1.printSpreadInfo }}</td>
        <td>{{ bet_game.0.line_bet }}</td>
        <td>{{ bet_game.0.ou_bet }}</td>
        <td>{{ bet_game.0.score }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% endif %}


    </div> <!-- league-main -->



    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'app/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>








