<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FootballShark</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/customuser.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/jumbotron.css' %}" rel="stylesheet">
    <script src="{% static 'app/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'app/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <a class="navbar-brand ml-4" >FootballShark</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/user">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </nav>
    </header>

<!--Name of User -->
    <main class="container league-main" role="main">
    <div class="page-header">
      <h1>{{ person }}</h1>
    </div>

<!--Edit Picks If Betting Open -->
	<br>
{% if betting_open %}
	<div>
		<a class="btn btn-primary btn-lg" href="/edit_picks" role="button">Edit Your Picks</a>
	</div>
{% endif %}


<div class="clearfix"></div>
<div class="clearfix"></div>
<br>
           
        
<!-- Create/Join League -->    
<div class="clearfix"></div>

	<div>
		<a class="btn btn-primary btn-lg" href="/create_league" role="button">Create League</a>
		<a class="btn btn-primary btn-lg" href="/join_league" role="button">Join League</a>
	</div>

<div class="clearfix"></div>
<br>
<div class="clearfix"></div>

{% if my_leagues %}
    <div class="col-md-6">
    <table class="table table-bordered">
      <thead><tr>
        <th class="col-md-8">My Leagues:</th>
      </tr></thead>
      <tbody>
      {% for league in my_leagues %}
        <tr>
        <td><a href="/league/{{ league.id }}/">{{ league }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% else %}
    <h3>No League Available</h3>
{% endif %}

<div class="clearfix"></div>
<br>
 <!--Results -->
        
    <div class="page-header">
      <h3>Results</h3>
    </div>

    <div class="col-md-10">
    <table class="table table-bordered">
      <thead><tr>
          <th class="col-md-1">Week</th>
    {% for results in results_scores %}
          <th><a href="#weekly{{ results.0.num }}">{{ results.0.num }}</a></th>
    {% endfor %}
      </tr></thead>
     <tbody>
    <tr>
        <td class="col-md-1">Score</td>
    {% for results in results_scores %}
        <td>{{ results.1 }}</td>
    {% endfor %}
    </tr>
      </tbody>
    </table>
    </div>

    
<div class="clearfix"></div>
<br>
        
<!-- This Week's Bets -->
<div class="clearfix"></div>

{% if active_week_tuples %}
        
    <div id="weekly{{ active_week.num }}"></div>
    <br> 
    <br>
      <h3 >This Week's Bets</h3>

    <div class="col-md-10">
    <table class="table table-bordered">
      <thead><tr>
        <th class="col-md-3">Away</th>
        <th class="col-md-3">Home</th>
        <th class="col-md-2">Lines</th>
        <th class="col-md-2">Spread Bet</th>
        <th class="col-md-2">OU Bet</th>
        <th class="col-md-1">Score</th>
      </tr></thead>
      <tbody>
{% for tup in active_week_tuples %}
        <tr>
        <td>
{% with 'app/img/logos/'|add:tup.0.0.0|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">
{% endwith %}
		- {{ tup.0.0.1 }}
		</td>
        <td>
{% with 'app/img/logos/'|add:tup.0.0.2|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">
{% endwith %}
		- {{ tup.0.0.3 }}
		</td>
		<td>
		<div>Spread: {{tup.0.0.4}}</div>
		<div>Over/Under: {{tup.0.1.4}}</div>
		</td>
	    <td class="bg-{{tup.1.0.2}}">
{% if tup.1.0.1 != '' %}
{% with 'app/img/logos/'|add:tup.1.0.1|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">  {{ tup.1.0.0 }}
{% endwith %}
{% endif %}
		</td>
	    <td class="bg-{{tup.1.1.2}}">
{% if tup.1.1.1 != '' %}
{% with 'app/img/logos/'|add:tup.1.1.1|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">  {{ tup.1.1.0 }}
{% endwith %}
{% endif %}
		</td>
        <td class="bg-{{tup.2.1}}">{{ tup.2.0 }}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
    </div>
{% endif %}

<div class="clearfix"></div>

{% for week_tuple in past_week_data %}
    <div id="weekly{{ week_tuple.0.num }}"></div>
    <br>    
    <div class="page-header" >
      <h3 >Week {{ week_tuple.0.num }} Bets</h3>

    </div>

    <div class="col-md-10">
    <table class="table table-bordered">
      <thead><tr>
        <th class="col-md-3">Away</th>
        <th class="col-md-3">Home</th>
        <th class="col-md-2">Lines</th>
        <th class="col-md-2">Spread Bet</th>
        <th class="col-md-2">OU Bet</th>
        <th class="col-md-1">Score</th>
      </tr></thead>
      <tbody>
      {% for tup in week_tuple.1 %}
        <tr>
        <td>
{% with 'app/img/logos/'|add:tup.0.0.0|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">
{% endwith %}
		- {{ tup.0.0.1 }}
		</td>
        <td>
{% with 'app/img/logos/'|add:tup.0.0.2|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">
{% endwith %}
		- {{ tup.0.0.3 }}
		</td>
		<td>
		<div>Spread: {{tup.0.0.4}}</div>
		<div>Over/Under: {{tup.0.1.4}}</div>
		</td>
	    <td class="bg-{{tup.1.0.2}}">
{% if tup.1.0.1 != '' %}
{% with 'app/img/logos/'|add:tup.1.0.1|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">  {{ tup.1.0.0 }}
{% endwith %}
{% endif %}
		</td>
	    <td class="bg-{{tup.1.1.2}}">
{% if tup.1.1.1 != '' %}
{% with 'app/img/logos/'|add:tup.1.1.1|add:'.svg' as image_static %}
<img src="{% static image_static %}" class="rounded mx-auto d-block" style="width:60px;height:72px;">  {{ tup.1.1.0 }}
{% endwith %}
{% endif %}
		</td>
        <td>{{ tup.2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
<div class="clearfix"></div>
{% endfor %}


	<br><br>

    </main> <!-- league-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'app/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
