.edit-picks-form {
    /* border: 2px solid red; */
    display:  flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.edit-picks-form img {
    display: inline-block;
    margin: 10px;
}
.team-title {
    display: flex;
    justify-content: center;
}
th {
    text-align: center !important;
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}